@import "tailwindcss";

@font-face {
    font-family: roboto;
    src: url(/Fonts/Roboto_Condensed-Regular.ttf);
}
@font-face {
    font-family: yello;
    src: url(/Fonts/Yellowtail-Regular.ttf);
}

.container{
    max-width: 1500px;
}